---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello! I'm Gyumin from South Korea. I studied biosystem engineering at Seoul National University. Currently, and currently at MS/PhD intergrated program, Seoul National University.
    I'm interested in connecting the human brain with the data environment, and implementing brain communication in the virtual world through code/decode for information.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S./Ph.D. Intergrated - Brain and Cognitive Science (Present)"
      subtitle="from 2024 at Seoul National University, Seoul, South Korea"
    />
    <TimeLineElement
      title="Bachelor of Science - Biosystem Engineering"
      subtitle="2016 to 2022 at Seoul National University, Seoul, South Korea"
    />
    <TimeLineElement
      title="Highschool diploma - Biology"
      subtitle="2013 to 2015 at Gyeonggi Science High School for the Gifted, Suwon, South Korea"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Process Engineer at Samsung Biologics"
      subtitle="From AUG2022 to MAR2024 at Samsung Biologics, Incheon, South Korea"
    >
    Truobleshooting and improvement for biopharmaceutical manufacturing process
    <br>
    Project manager in equipment introduction into a new plant project
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From MAY2020 to JUL2020 at Yishan Links, Seoul, South Korea"
    >
    Visualized postman’s workload by location and route difficulty through analysis of actual delivery big data using Microsoft Access(DBMS), Tableau and suggested better way to distribute delivery quota in project with Korea Post
    </TimeLineElement>
    <TimeLineElement
      title="Co-founder at PPAP(Pre-Purchased Agricultural Platform)"
      subtitle="From FEB2020 to AUG2020 at PPAP, Jeju, South Korea"
    >
    Conceived new business plan about agricultural direct and pre-purchase online platform have strong point securing cash flow
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Computational Neuron Modeling</li>
    <li>Machine Learning</li>
    <li>Arduino</li>
    <li>Javascript</li>
    <li>Matlab</li>
    <li>R</li>
    <li>Tableau</li>
    <li>C++</li>
  </ul>
</BaseLayout>
